## ***Categorical scaling***
Used for order the categories, the most used methods are:
- **Dummy**: The most compact representation, better for independent lineally inputs.
- **One-hot**: Describes non included categories initially.

**Example:**
| Category | Dummy | One-hot |
|-|-|-|
| English | [0, 0] | [1, 0, 0] |
| Spanish | [0, 1] | [0, 1, 0] |
| French | [1, 0] | [0, 0, 1] |
| NaN | ? | [0, 0, 0] |

In [5]:
#Modules
import pandas as pd
df = pd.read_csv('data-set.csv')

In [11]:
#Dummies
pd.get_dummies(df['engine_type'])

       diesel  electric  gasoline
0       False     False      True
1       False     False      True
2       False     False      True
3       False     False      True
4       False     False      True
...       ...       ...       ...
38526   False     False      True
38527    True     False     False
38528   False     False      True
38529   False     False      True
38530   False     False      True

[38531 rows x 3 columns]

In [17]:
#One-hot
import sklearn.preprocessing as preprocessing
encoder = preprocessing.OneHotEncoder(handle_unknown='ignore')
encoder.fit(df[['engine_type']].values)
encoder.transform([['gasoline'],['diesel'],['aceite']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])

##### **Numerical variables as categorical**

In [20]:
encoder.fit(df[['year_produced']].values)
encoder.transform([[2016], [2009], [190]]).toarray()

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])